/* variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    --font-p-color: #777;
}

/* variables */

/* component */
.main-heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: -2px;
    position: relative;
    width: fit-content;
    margin: 0 auto 50px;
}

.main-heading::before {
    content: "";
    position: absolute;
    width: 45%;
    border-bottom: 2px solid black;
    bottom: -30px;
    left: 50%;
    transform: translatex(-50%);
}

.main-heading::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    left: calc(50% - 7.5px);
    bottom: -37px;
    background-color: white;
}

.main-heading+p {
    padding-top: 5px;
    margin: 0 auto;
    width: 50%;
    max-width: 360px;
    line-height: 1.6;
    text-align: center;
}

@media (max-width:767px) {
    .main-heading+p {
        width: 80%;
    }
}

/* component */

/* global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* global rules */
/* header */
header {
    position: absolute;
    width: 100%;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 100px;
}

header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    border-bottom: 1px solid white;
    bottom: 0;
    left: 15px;
    min-height: 99px;
    z-index: 1;
}

header .image {
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

}

header nav ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
}

@media (max-width : 767px) {
    header nav ul {
        display: none;
    }
}

header nav ul li a {
    color: white;
    display: block;
    padding: 40px 10px;
    transition: 0.3s;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    position: relative;
    z-index: 3;
}

header nav .form {
    margin-left: 25px;
    z-index: 1;
}

header nav i.fa-search {
    color: white;
    border-left: 1px solid white;
    padding-left: 10px;
    font-size: 25px;
    height: 25px;
}

header nav i.toggle-menu {
    color: white;
    font-size: 25px;
    z-index: 5;
}

@media (min-width:768px) {
    header nav i.toggle-menu {
        display: none;
    }
}

@media (max-width:767px) {
    header nav ul {
        display: none;
    }

    header nav i.toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 80%);
    }

    header nav i.toggle-menu:hover+ul li a {
        padding: 15px;
        padding-left: 30px;
    }

}

/* header  */

/* landing */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
        padding: 25px;
    }
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .text .content {
        max-width: unset;
    }
}

.landing .text h2 {
    line-height: 1.5;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 15px;
}

.landing .text p {
    line-height: 1.6;
}

.landing i.fa-angle-left,
.landing i.fa-angle-right {
    color: white;
    position: absolute;
    top: 50%;
    font-size: 40px;
}

.landing i.fa-angle-left {
    left: 50px
}

.landing i.fa-angle-right {
    right: 100px
}

@media (max-width : 767px) {

    .landing i.fa-angle-left,
    .landing i.fa-angle-right {
        display: none;
    }
}

.landing .bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
    transform: translatex(-50%);
}

.landing .bullets li {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 10px;
}

.landing .bullets li.active {
    background: var(--main-color);
    border: var(--main-color);
}

/* landing */
/* services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.services .content .box {
    width: 47%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px) {
    .services .content {
        flex-direction: column;
    }

    .services .content .box {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

}

.services .content .box i {
    margin-right: 40px;
}

.services .content .box .text h3 {
    color: var(--main-color);
    margin-bottom: 20px;
}

.services .content .box .text p {
    color: var(--font-p-color);
    line-height: 1.6;
    font-family: arial;
}

@media (max-width:767px) {
    .services .content .box i {
        margin-bottom: 20px;
    }
}

/* services */
/* Design */
.design {
    background-color: blue;
    background-image: url('../images/design-features.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 600px;
}

.design::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
}

.design .phone,
.design .content {
    flex: 1;
    z-index: 2;
}

.design .phone {
    text-align: center;
    position: relative;
    top: 150px;
}

.design .content {
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
}

@media (max-width: 767px) {
    .design .phone {
        display: none;
    }

    .design .content {
        flex-basis: 100%;
    }
}

.design .content h3 {
    margin-bottom: 26px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
}

.design .content ul li {
    padding-bottom: 15px;
    font-size: 17px;
}

.design .content li::before {
    content: "\f108";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

/* Design */
/* portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding)/2);
}

.portfolio ul {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.portfolio ul li {
    padding: 10px 15px;
}

.portfolio ul li.active {
    background-color: var(--main-color);
    color: white;
    border-radius: 3px;
}

.portfolio .images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.portfolio .images .box {
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    .portfolio .images .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .images .box {
        flex-basis: 25%;
    }
}

.portfolio .images .box img {
    transition: 0.3s;
    max-width: 100%;
}

.portfolio .images .box:hover .caption {
    bottom: 0;
}

.portfolio .images .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

.portfolio .images .box .caption {
    position: absolute;
    padding: 15px;
    transition: 0.3s;
    width: 100%;
    bottom: -100%;
    background-color: white;
}

.portfolio .images .box .caption h4 {
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 5px;
}

.portfolio .images .box .caption p {
    font-weight: normal;
    font-size: 17px;
    color: var(--main-color);
}

.portfolio>a {
    padding: 17px 26px;
    background-color: var(--main-color);
    width: fit-content;
    margin: 50px auto;
    display: block;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    text-transform: uppercase;
}

/* portfolio */
/* video */
.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.video video {
    width: 100%;
}

.video .content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: white;
    transform: translatey(-50%);
    background: var(--transparent-color);
    padding: 50px 15px;
}

.video .content h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.video .content p {
    margin-bottom: 20px;
}

.video .content button {
    text-transform: uppercase;
    background: black;
    color: white;
    padding: 9px 12px;
    border: none;
}

/* video */
/* About Us */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    overflow: hidden;
}

.about img {
    position: relative;
    bottom: -231px;
    margin-top: -140px;
    max-width: 100%;
}

@media (max-width:767px) {
    .about img {
        bottom: -162px;
        margin-top: -109px;
    }
}

/* About Us */
/* stats */
.stats {
    background-color: #777;
    background-image: url('../images/stats.png');
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.stats .container {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.stats .box {
    padding: 30px 60px;
    background-color: var(--transparent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

@media (max-width:767px) {
    .stats .container {
        flex-direction: column;
    }

    .stats .box {
        margin: 0;
    }
}

.stats .box i {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    padding-bottom: 4px;
    padding-left: 3px;
}

.stats .box div {
    font-size: 50px;
    margin-bottom: 15px;
}

.stats .box p {
    font-weight: normal;
    font-size: 17px;
}

/* stats */
/* Testimonials & skills */
.skills-section {
    padding-top: var(--section-padding);
    padding-top: var(--section-padding);
}

.skills-section .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px) {
    .skills-section .container {
        flex-direction: column;
    }
}

.skills-section .testimonials,
.skills-section .skills {
    flex-basis: 45%;
}

@media (max-width: 767px) {

    .skills-section .testimonials,
    .skills-section .skills {
        flex-basis: 10%;
    }
}

@media (max-width:767px) {
    .skills-section .skills {
        margin-top: 50px;
    }
}

.skills-section .skills h3,
.skills-section .testimonials h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .skills p,
.skills-section .testimonials p {
    text-align: center;
    line-height: 1.6;
    color: #777777;
    font-size: 17px;
    margin-bottom: 50px;
}

.skills-section .testimonials .content {
    position: relative;
}

@media (max-width:767px) {
    .skills-section .testimonials .content {
        flex-basis: 95%;
    }
}

.skills-section .testimonials .content .box {
    display: flex;
    position: relative;
}

.skills-section .testimonials .content .box img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 30px;
}

.skills-section .testimonials .content .box p {
    line-height: 1.8;
    font-size: 17px;
    text-align: left;
    flex: 1;
}

.skills-section .testimonials .content .box span {
    display: flex;
    color: black;
    justify-content: flex-end;
    border-bottom: 5px solid rebeccapurple;
    padding-top: 5px;
}

.skills-section .testimonials .content ul {
    display: flex;
    justify-content: center
}

.skills-section .testimonials .content li {
    width: 20px;
    height: 20px;
    border: 1px solid var(--font-p-color);
    border-radius: 50%;
    margin-right: 8px;
}

.skills-section .testimonials .content li.active {
    background: var(--main-color);
    border: none;
}

.skills-section .skills .content {
    display: flex;
    flex-direction: column;
}

.skills-section .skills .content .box h4 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 19px;
    font-family: 'Roboto';
    margin-bottom: 10px;
    margin-top: 31px;
}

.skills-section .skills .content .box .shape {
    background-color: #ccc;
    width: 100%;
    height: 25px;
}

.skills-section .skills .box .shape span {
    background: var(--main-color);
    height: 25px;
    display: block;
    position: relative;
}

.skills-section .skills .shape span::before {
    content: attr(data-progress);
    position: absolute;
    right: -13px;
    top: -42px;
    background: black;
    color: white;
    width: 40px;
    height: 29px;
    text-align: center;
    line-height: 31px;
    border-radius: 6px;
}

.skills-section .skills .shape span::after {
    content: "";
    position: absolute;
    right: -7px;
    top: -14px;
    border-top: 10px solid #000000;
    border-bottom: 15px solid #00000000;
    border-left: 15px solid #00000000;
    border-right: 15px solid #e22d2d00;
    border-radius: 7px;
}

/* Testimonials & skills */
/* quote */
.quote {
    background-image: url('../images/quote.jpg');
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    margin-top: var(--section-padding);
    position: relative;
}

.quote::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 80%);
}

.quote .container {
    position: relative;
    z-index: 2;
}

.quote q {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 22px;
}

.quote p {
    color: white;
    display: flex;
    justify-content: center;
}

/* quote */

/* pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: var(--section-padding);
}

.pricing .content .box {
    flex-basis: 24%;
    text-align: center;
    background-color: #f5deb324;
}

@media (max-width:991px) {
    .pricing .content .box {
        flex-basis: 50%;
    }

}

@media (max-width:767px) {
    .pricing .content .box {
        flex-basis: 100%;
    }

}


.pricing .content .box .head {
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    padding: 20px 0;
}

.pricing .content .box .head h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 20px;
}

.pricing .content .box .head span {
    font-weight: 800;
    font-size: 40px;
    position: relative;
}

.pricing .content .box .head span::before {
    content: "$";
    position: absolute;
    top: -9px;
    left: -17px;
    font-weight: normal;
    font-size: 24px;
}

.pricing .content .box .head span::after {
    content: "/Mo";
    position: absolute;
    font-size: 20px;
    right: -42px;
    bottom: 7px;
}

.pricing .content .box ul li {
    padding: 20px;
    position: relative;
}

.pricing .content .box ul li:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border-bottom: 1px solid var(--main-color);
}

.pricing .content .box .foot {
    border-top: 2px solid var(--main-color);
    padding: 20px;
}

.pricing .content .box .foot input {
    border-color: var(--main-color);
    padding: 10px 20px;
    color: blue;
}

.pricing .container>p:last-of-type {
    text-align: center;
    margin: 50px 0 20px;
    font-size: 18px;
    font-family: none;
}

.pricing .container>button {
    display: block;
    margin: 0 auto;
    padding: 15px 40px;
    background: var(--main-color);
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Roboto';
}

/* pricing */
/* subscribe */
.subscribe {
    background-image: url('../images/subscribe.jpg');
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.subscribe .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

@media (max-width :991px) {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe .section {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}

.subscribe .section i {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
}

.subscribe .section input[type="email"] {
    padding: 15px 50px;
    border: 1px solid white;
    outline: none;
    background: transparent;
    border-right: none;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}

.subscribe .section input[type="email"]::placeholder {
    color: white;
}

.subscribe .section input[type="submit"] {
    border: 1px solid white;
    padding: 15px 30px;
    background: var(--main-color);
    color: white;
    text-transform: uppercase;
    border-left: none;
    width: 130px;
}

.subscribe p {
    flex: 1;
    line-height: 1.5;
    font-size: 18px;
    margin-left: 50px;
}

@media (max-width : 991px) {
    .subscribe p {
        margin-top: 30px;
        margin-left: 0px;
    }
}

/* subscribe */
/* contact us */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    padding-top: var(--section-padding);
    display: flex;
    justify-content: space-between;
}

.contact .content .write {
    flex-basis: 70%;
    position: relative;
}
@media (max-width:767px) {
    .contact .content {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .contact .content .write {
        order: 2;
        width: 100%;
        width: 100%;
        margin-top: 50px;
    }
}
.contact .content .write input,
.contact .content .write textarea {
    outline: none;
    caret-color: blueviolet;
    border: 1px solid #ccc;
}

.contact .content .write input[type="text"] {
    display: block;
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
}

.contact .content .write input[type="email"] {
    display: block;
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
}

.contact .content .write textarea {
    display: block;
    height: 150px;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
}

.contact .content .write input[type="submit"] {
    display: block;
    height: 50px;
    width: 150px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
}

.contact .content .write input::placeholder,
.contact .content .write textarea::placeholder {
    font-size: 17px;
}

.contact .content .info {
    flex-basis: 25%;
}

.contact .content .info {}

.contact .content .info h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 7px;
}

.contact .content .info p:last-child {
    margin-bottom: 60px;
}

.contact .content .info p,
.contact .content .info address {
    line-height: 1.8;
    font-weight: normal;
    font-size: 17px;
}

/* contact us */
/* Footer */
.footer{
    padding-top: calc(var(--section-padding)/2);
    padding-bottom: calc(var(--section-padding)/2);
    background-image: url('../images/subscribe.jpg');
    background-size: cover;
    position: relative;
}
.footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
}
.footer .container {
    position: relative;
    text-align: center;
    color: white;
}
.footer img {
    margin-bottom: 30px;
}
.footer p:first-of-type {
    text-transform: uppercase;
    font-weight: 700;
    font-family: sans-serif;
    width: 178px;
    padding-bottom: 11px;
    margin: 0 auto 20px;
    border-bottom: 1px solid white;
}
.footer i {
    padding-left: 20px;
    color: var(--main-color);
    margin-bottom: 20px;
}
.footer p:last-child {
    font-size: 17px;
    margin: 60px 0 0;
}
.footer p span {
    color: var(--main-color);
    font-weight: bold;
}
/* Footer */